.RMain{
align-content: center;
align-items: center;
justify-content: center;
}
.review {
    border: 1px solid red;
    width: 50%;
    margin: 0 auto;
}

.form {
    position: fixed;
    top: calc(50vh - 300px);
    background-color: gray;
    width: 300px;
    height: 500px;
    left: 200px;
}

.form {
    width: 80%;
    text-align: center;
}


.form input {
    width: 80%;
    height: 30px;
}

.form textarea {
    height: 250px;
    width: 80%;
    font-size: 1.5em;
}
.hidden {
    display: none;
}
.guide{
    border: 2px solid black;
    box-sizing: border-box;
    height: 250px;
    flex-wrap: wrap;
    display: list-item;
    width: 800px;
    /* background-color: #44cce7; */
    /* text-decoration: underline */
    background-image: linear-gradient(
        to bottom right,
        rgb(147, 213, 233),
        rgb(53, 67, 199)
      );
}