.course {
    border: 2px ;
    width: 50%;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px cadetblue;

}

.locations {
    width: 100%;
    display: flex;
    justify-content: space-around;
}