* {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
    .schools {
      background-color: lightblue;
    }
  }
  .t-title {
    font-size: 22px;
  }
  .pop {
    max-height: 50px;
  }
  .info-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 3px;
    max-width: 210px;
  }
  .Course_Content {
    width: 230px;
    height: 750px;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    position: fixed;
    top: 150px;
    left: 390px;
    font-size: 14px;
    line-height: 1.5em;
    background-color: cadetblue;
  }
  .Review {
    height: 430px;
    width: 640px;
    background-color: cadetblue;
    margin: 0 auto 20px auto;
  }
  .RCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 3px;
    color: black;
    height: 36px;
    width: 150px;
    margin: 0px;
    float: right;
  }
  .schools {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #112c38;
  }
  span.schools {
    background: black;
    height: 300px;
    font-size: xx-large;
  }
  .schools ul {
    display: flex;
  }
  .ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .Landing ul li {
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
  }
  .Landing ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 34px;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
  }
  .Landing ul:hover li a {
    transform: scale(1.5);
    opacity: 0.2;
    filter: blur(5px);
  }
  .Landing ul li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
  }
  .Landing ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5f9ea0;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
  }
  .Landing ul li a:hover:before {
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(1);
  }
  
  
  