.modal {
    position: fixed;
    top: 33vh;
    max-height: 400px;
    width: 50%;
    margin-right: 50px;
    overflow-y: scroll;
    background-color: whitesmoke;
}

.school {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.school:hover {
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
}